# ignore downloaded book text files
pg*.txt
932.txt
1063.txt
10031-0.txt
# ignore pycache files
**/*__pycache__
.pytest_cache
# ignore the env folder
env/
# ignore ipynb files and .ipynb_checkpoints
.ipynb_checkpoints/
.ipynb
.DS_Store
